<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Papillon</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>relief</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>relief-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>beta</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>beta-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>black-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>chip</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>chip-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>cutted</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>cutted-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>classic</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>classic-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gold</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gold-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>metal</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>metal-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>neon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>neon-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>pride</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pride-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>purple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>purple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>rayspurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rayspurple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>rays</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rays-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>retro</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>retro-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>sparkles</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>sparkles-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>backtoschool</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>backtoschool-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>barbie</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>barbie-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>betterneon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>betterneon-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>macos</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>macos-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>oldios</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>oldios-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>verscinq</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>verscinq-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>relief</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>relief-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>beta</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>beta-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>black-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>chip</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>chip-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>cutted</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>cutted-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>classic</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>classic-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gold</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gold-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>metal</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>metal-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>neon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>neon-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>pride</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pride-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>purple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>purple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>rayspurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rayspurple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>rays</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rays-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>retro</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>retro-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>sparkles</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>sparkles-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>backtoschool</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>backtoschool-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>barbie</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>barbie-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>betterneon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>betterneon-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>macos</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>macos-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>oldios</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>oldios-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>verscinq</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>verscinq-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>6.2.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>plus.pronote.app</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+papillonvex</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Papillon utilise ton calendrier pour ajouter des cours à celui-ci.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Papillon utilise ton calendrier pour ajouter des cours à celui-ci.</string>
    <key>NSCameraUsageDescription</key>
    <string>Papillon utilise ta caméra pour personnaliser ton compte ou scanner un QR-Code.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Autorisez Papillon à utiliser Face ID.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Papillon utilise ta position pour localiser des établissements autour de toi et également pour te localiser sur la carte.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Papillon utilise ton emplacement pour trouver des établissements autour de toi.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Papillon utilise ton emplacement pour trouver des établissements autour de toi.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Papillon utilise ta pellicule pour personnaliser ton profil et ton expérience.</string>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>Papillon utilise tes rappels pour ajouter des devoirs à celui-ci.</string>
    <key>NSRemindersUsageDescription</key>
    <string>Papillon utilise tes rappels pour ajouter des devoirs à celui-ci.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>